@using InventoryFrontEnd.Models;
@model Modelall
@{
    ViewBag.Title = "BrandList";
    Layout = "~/Views/Shared/With_Side_bar.cshtml";
}


    <!-- Main Content -->
    <div class="col-md-9 h-100 overflow-auto">
        <div class="sticky-xl-top">
            <div class="card">
                <div class="card-body mt-3">
                    <h2 id="room-label" class="text-center mt-4">@ViewBag.campus_name</h2>
                    <h2 class="text-center mt-4">Brand List</h2>
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#btnmodal">ADD</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <h3 class="text-center">
                                @foreach (var item in Model.Allbrandcounters)
                                {
                                    <a class="text-center">@Html.DisplayFor(modelItem => item.Counter)</a>
                                }
                            </h3>
                        </div>
                        <div class="col-4">
                            <div class="search-form">
                                <input type="text" id="tableSearch" class="custom-input" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Number</th>
                                <th class="text-center">Brand Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var counter = 1;
                            }
                            @foreach (var item in Model.Allbrand)
                            {
                                <tr class="clickable-row">
                                    <td class="text-center">@counter</td>
                                    <td class="text-center">@item.Brand_name</td>
                                    @if (Session["UserRole"] != null && Session["UserRole"].ToString() != "IT Asset Incharge" && Session["UserRole"].ToString() != "Apparel Incharge")
                                    {

                                        <td> <button type="button" class="btn btn-sm btn-primary mt-2 custom-button" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="setUpdateFields('@item.Brand_ID', '@item.Brand_name', '@item.Campus_name')">Modify</button></td>
                                    }

                                </tr>
                                {
                                    counter++;
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    @*ADD BRAND MODAL*@
    <div class="modal fade" id="btnmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Brand_name" placeholder="Brand Name">
                            <label for="Brand_name">Brand Name</label>
                        </div>
                        <div class="form-floating visually-hidden">
                            <input type="text" class="form-control " id="Campus_name" placeholder="Campus Name" value="@ViewBag.Campus_name">
                            <label for="Campus_name">Campus Name</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="addbrandbtn">ADD </button>
                </div>
            </div>
        </div>
    </div>

    @*   UPDATE BRAND NAME   *@
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <input type="text" class="form-control visually-hidden" name="update_brand_id" id="update_brand_id" placeholder="Brand ID">


                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="update_brand" id="update_brand" placeholder="Brand Name">
                        <label for="update_brand">Brand Name</label>
                    </div>
                </div>

                <input type="text" class="form-control visually-hidden" name="update_Campus_name" id="update_Campus_name" placeholder="Brand Name">



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="updatebtn">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Error Modal Dialog -->
    <div class="modal fade" id="model_error" tabindex="-1" aria-labelledby="model_errorLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="model_errorLabel">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="error_message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Modal Dialog -->
    <div class="modal fade" id="model_success" tabindex="-1" aria-labelledby="model_successLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="model_successLabel">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="success_message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#addbrandbtn").click(function () {
                $("#error_message").text("");

                var add_brand = $("#Brand_name").val();
                var add_campus = $("#Campus_name").val();

                var branddata = {
                    add_brand: add_brand,
                    add_campus: add_campus,

                };
                $.ajax({
                    type: "POST",
                    url: "/Inventory/addbrand",
                    data: branddata,
                    success: function (response) {
                        if (response.indexOf("Successfully ADDED BRAND") !== -1) {
                            showSuccessMessage(response);
                        } else {
                            showErrorMessage(response);
                        }
                    },
                    error: function () {
                        showErrorMessage("An error occurred while adding the Room item");
                    },
                });
            });

            function showErrorMessage(message) {
                $("#error_message").text(message);
                $("#model_error").modal("show");
            }

            function showSuccessMessage(response) {
                // Assuming your response contains a specific success message
                var successMessage = "Successfully added"; // Modify as needed
                if (response.indexOf(successMessage) !== -1) {
                    $("#success_message").text(successMessage);
                    $("#model_success").modal("show");


                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                } else {
                    // Handle unexpected response here
                    showErrorMessage("Unexpected response: " + response);
                }
            }
        });
    </script>

  

    <script>
        $(document).ready(function () {
            $("#updatebtn").click(function () {
                $("#error_message").text("");
                var update_brand_id = $("#update_brand_id").val();
                if (update_brand_id === '') {
                    showErrorMessage("Please supply a Brand");
                    return;
                }
                var update_brand = $("#update_brand").val();
                if (update_brand === '') {
                    showErrorMessage("Please supply a Brand");
                    return;
                }
                var update_Campus_name = $("#update_Campus_name").val();


                var updatebranddata = {
                    update_brand_id: update_brand_id,
                    update_brand: update_brand,
                    update_Campus_name: update_Campus_name
                };

                $.ajax({
                    type: "POST",
                    url: "/Inventory/updatebrand",
                    data: updatebranddata,
                    success: function (response) {
                        if (response.indexOf("Successfully added brand") !== -1) {
                            showSuccessMessage(response);
                        } else {
                            showErrorMessage(response);
                        }
                    },
                    error: function () {
                        showErrorMessage("An error occurred while adding the Room item");
                    },
                });
            });

            function showErrorMessage(message) {
                $("#error_message").text(message);
                $("#model_error").modal("show");
            }

            function showSuccessMessage(response) {
                // Assuming your response contains a specific success message
                var successMessage = "Successfully added brand"; // Modify as needed
                if (response.indexOf(successMessage) !== -1) {
                    $("#success_message").text(successMessage);
                    $("#model_success").modal("show");


                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                } else {
                    // Handle unexpected response here
                    showErrorMessage("Unexpected response: " + response);
                }
            }
        });
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // ... (your existing script for clickable rows)
        });

        function setUpdateFields(id, Brandname, Campus_name) {
            document.getElementById('update_brand_id').value = id;
            document.getElementById('update_brand').value = Brandname;
            document.getElementById('update_Campus_name').value = Campus_name;
        }
    </script>

    <script>
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("tableSearch");
            filter = input.value.toUpperCase();
            table = document.querySelector(".table-striped");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {  // Start loop from index 1 to exclude header
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].innerText || td[j].textContent;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }

        document.getElementById("tableSearch").addEventListener("keyup", searchTable);
    </script>