@using InventoryFrontEnd.Models;
@model Modelall
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-5">
                    <div class="card-body text-center">
                        <img src="~/Content/images.jpg" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Session["FirstName"] @Session["LastName"]</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Session["FirstName"]</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Session["LastName"]</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Role:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Session["UserRole"]</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Campus:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Session["CampusName"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
